@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


* {
    box-sizing: border-box;
    outline: 1px solid red;
}

:root {
    /********* Primary Colors *********************/
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    /********* Neutral Colors *********************/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    background-repeat: no-repeat;
    color: var(--dark-grayish-blue);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}


header {
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    padding: 80px 0 0;
}

img {
    max-width: 100%;
}

p {
    color: hsl(201, 11%, 66%);
    line-height: 1.5;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    padding: 20px 0;
    width: 1200px;
}

.container-small {
    width: 700px;
}

section {
    padding: 30px 0;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex > div {
    flex: 1;
    padding: 10px;
}

.search_headings {
    margin-right: 21rem;
}

.search_descriptions {
    align-items: flex-end;
    margin-right: 9rem;
}

.btn {
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 5px;
    padding: 15px 35px;
}


.btn-primary {
    background-color: var(--strong-cyan);
    box-shadow: 0 5px hsl(171, 68%, 36%);
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--light-blue);
    box-shadow: 0 5px hsl(233, 71%, 61%);
    cursor: pointer;    
}

.btn-primary:hover {
    background-color: hsl(171, 86%, 57%);
}

.btn-secondary:hover {
    background-color: hsl(233, 73%, 71%);
}

footer {
    background-color: var(--grayish-blue);
}

footer img {
    width: 60px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

footer .container {
    margin-bottom: 0;
}

footer ul a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

footer .links {
    flex: 3;
}

footer .links li {
    margin-right: 40px;
    padding: 10px;
}

footer .social li {
    margin-right: 10px;
}

footer .social a {
    font-size: 24px;
    margin: 0 5px;
}

.icons {
    width: 20px;
    height: 20px;
}

a:hover {
    color: var(--strong-cyan);
}


@media (max-width: 600px) {
    
    header h1 {
        width: 204px;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
        
        .flex {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .search_headings {
            text-align: center;
            margin-left: 7rem;
        }
    
        .search_descriptions{
            margin-right: 14rem;
            margin-left: 0rem;
        }
        
        .computer {
            position: relative;
            left: -6rem;
        }

        footer .links {
            flex-direction: column;
        }

        footer .links li {
            padding: 10px;
            margin-right: 0;
        }

        .btn {
            align-items: center;
            display: block;
            margin-left: 10%;
            width: 80%;
        }

    
}
