@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


* {
    box-sizing: border-box;
}

:root {
    /********* Primary Colors *********************/
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    /********* Neutral Colors *********************/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    background-repeat: no-repeat;
    color: var(--dark-grayish-blue);
    text-align: center;
}

.logo{
    width: 125px;
    height: 125px;
}


header {
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    padding: 80px 0 0;
}

header h1{
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
    text-align: center;
}

header p {
    width: 730px;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.15px;
    position: relative;
    left: 15rem;
}

p {
    color: hsl(201, 11%, 66%);
    line-height: 1.5;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    padding: 20px 0;
    width: 1200px;
}

section {
    padding: 30px 0;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.computer {
    margin-left: -9rem;
    width: 752px;
    height: 572px;
}

.search_headings {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
    width: 350px;
}

.search_descriptions {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
    width: 350px;
}

.container-small h2{
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
    position: relative;
    left: 14rem;
    width: 730px;
}

.snippet__description{
    text-align: center;
    width: 603px;
    position: relative;
    left: 20rem;
    line-height: 1.5;
}

.clip__description{
    text-align: center;
    width: 567px;
    position: relative;
    left: 20rem;
}

.clio__description{
    width: 545px;
    text-align: center;
    position: relative;
    left: 21rem;
}

/* .container-small p{
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
    position: relative;
    left: 14rem;
    width: 730px;
} */

.btn {
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 5px;
    padding: 15px 35px;
}


.btn-primary {
    background-color: var(--strong-cyan);
    box-shadow: 0 5px hsl(171, 68%, 36%);
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--light-blue);
    box-shadow: 0 5px hsl(233, 71%, 61%);
    cursor: pointer;    
}

.btn-primary:hover {
    background-color: hsl(171, 86%, 57%);
}

.btn-secondary:hover {
    background-color: hsl(233, 73%, 71%);
}

footer {
    background-color: var(--grayish-blue);
}

footer img {
    width: 60px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

footer .container {
    margin-bottom: 0;
}

footer ul a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

footer .links {
    flex: 3;
}

footer .links li {
    margin-right: 40px;
    padding: 10px;
}

footer .social li {
    margin-right: 10px;
}

footer .social a {
    font-size: 24px;
    margin: 0 5px;
}

a:hover {
    color: var(--strong-cyan);
}


@media (max-width: 768px) {
    header h1{
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.522px;
        position: relative;
        left: 0rem;
        width: 311px;
    }

    header p{
        text-align: center;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.12px;
        position: relative;
        left: 0rem;
        width: 311px;
    }

    .container h2{
        text-align: center;
        font-family: Bai Jamjuree SemiBold;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.457px;
        width: 311px;
        position: relative;
        left: 0;
    }

    .container h3{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        width: 311px;
        position: relative;
        left: 0rem;
    }

    .container p{
        position: relative;
        left: 2rem;
        width: 311px;
    }

    .flex {
        width: 311px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-small{
        width: 311px;
    }

    .search_headings {
        width: 311px;
        text-align: center;
        position: relative;
        left: 2rem;
    }

    .search_descriptions{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12px;
        text-align: center;
        width: 311px;
        position: relative;
        left: 2rem;
    }
        
    .computer {
        width: 312px;
        height: 298px;
        position: relative;
        left: 6.5rem;
    }

    .device-image{
        width: 271.024px;
        height: 180.556px;
    }

    .company__logos{
        padding: 20px;
    }


    .icon{
        position: relative;
        left: 2rem;
    }

    footer .links {
        flex-direction: column;
    }

    footer .links li {
        padding: 10px;
        margin-right: 0;
    }

    .btn {
        align-items: center;
        display: block;
        font-size: 18px;
        width: 311px;
        height: 56px;
    }
}
